
@model List<RegistrationForm.Models.Customer>

@{
    ViewData["Title"] = "Home Page";
    
}




@foreach (var customer in Model)
{
    string tag = "flush-collapse" + customer.CustomerId;
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="@customer.CustomerId">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@tag"  aria-controls="flush-collapseOne">
                @customer.CustomerName
              </button>
            </h2>
            <div id="@tag" class="accordion-collapse collapse" aria-labelledby="@customer.CustomerId" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">@customer.Description</div>
            </div>
         </div>
      

        
     </div>     
        
    }




  
  
  @*<div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
    </div>
  </div>*@


